{% extends 'mainApp/base.html' %}


{% load static %}

{% block content %}
    <div class="section-top">
        <img src="{% static 'mainApp/image/mainPic.png' %}" class="img-responsive">
    </div>
    <div class="section">
        <div class="container">
            <div class="row">

                {% for product in products %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div>
                                <img src="/" class="img-responsive">
                            </div>
                            <h5>{{ product.name }}</h5>
                            <p>
                                {{ product.description | truncatechars_html:100 }}
                            </p>
                            <div class="add-to-card-btn">
                                <button class="btn btn-success">
                                    Buy
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
