<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop 1 </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'mainApp/mainStyle.css'%}" type="text/css">
    
</head>
<body>
  <div class="jumbotron top-container">
      {% block content %}
      {% endblock %}
  </div>
</body>
</html>